@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --size-small: clamp(0.75rem, 0.4375rem + 1.6667vw, 2rem);
  --size-med: clamp(1.5625rem, 1.3281rem + 1.25vw, 2.5rem);
  --size-big: clamp(2.1875rem, 1.9531rem + 1.25vw, 3.125rem);

  --font-base: sans-serif;
  --font-alpha: Arial;
  --font-beta: Helvetica;
  --font-gamma: system-ui;

  --backdrop-one: #140a25a9;
  --background-base: #140a25;
  --background-one: #140725;
  --background-two: #28082d3d;

  --color-white: #f2edf9;

  --highlight-violet: #6725d1;
  --highlight-red: #ef41d2;

  --highlight-gradient: var(--highlight-violet) 0%, var(--highlight-red) 100%;

  --shadow-filter-white: drop-shadow(0px 0px 15px #ededf28d);

  --shadow-filter-dark: drop-shadow(0px 0px 15px #350f4d98);
  --border-white: 1px solid #dbcaff34;

  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-family: var(--font-gamma), var(--font-base);

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  overflow-x: hidden;
}
body,
html {
  font-size: var(--size-small);
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-base);
}
::-webkit-scrollbar {
  width: 1vh;
  background-color: #0d062856;
}
::-webkit-scrollbar-track {
  background: rgba(76, 39, 144, 0.715);
}
::-webkit-scrollbar-thumb {
  background: #1a1a1a96;
  border: 1svh solid #28073ec3;
  border-radius: 10px;
  height: 20svh;
}
::-webkit-scrollbar-thumb:hover {
  background: #1a1a1ad3;
  border: 1svh solid #290738bd;
}
::-webkit-scrollbar-track:hover {
  background: rgba(39, 55, 144, 0.848);
  background: linear-gradient(74deg, var(--highlight-gradient));
}
::-webkit-scrollbar-button {
  background-color: #050628;
  border-bottom: 0.5svh solid #f9f9f9bc;
}

div,
li,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  margin: 0px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;

  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
