@import "./package/ham.css";

#header-wrapper {
  background-color: blueviolet;
  height: 7svh;
  padding: 15px;
  display: flex;
  justify-items: start;
  position: sticky;
  z-index: 5;
  width: 100%;

  justify-content: space-between;
}

/* backdrop */
aside {
  transform: translateY(-7svh);
  position: sticky;
  z-index: 4;
  transition: all ease-in 0.5s;
}
.is-active {
  transform: translateY(0);
}
nav {
  min-height: 1rem;
  transition: all ease-in 0.5s;
}
.is-active nav {
  top: 7svh;
}
nav ol {
  padding: 0.5rem 0rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex-direction: row;

  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.233);
}
.nav-list {
  margin-right: 5px;
}
